$BACKGROUND-COLOR: #F5F5F5; //sheet's color
$BACKGROUND-COLOR-DARK: #333; //sheet's color dark
$TEXT-COLOR: #222; //text color
$TEXT-COLOR-DARK: #EEE; // text color dark

$MOBILE: 990px; // min width for mobile

$FLAG-WIDTH: 36px; // country flag width
$FLAG-WIDTH-MOBILE: 20px; // country flag width for mobile